@import "tailwindcss";




/* Apply Playfair Display to headings */
h1, h2, h3, h4, h5, h6, .heading {
    font-family: 'Playfair Display', serif;
    /* You can also specify a default font weight if needed */
    /* font-weight: 700; */
  }
  
  /* Apply Open Sans to the body and other general text elements */
  body, p, li, a, span, div {
    font-family: 'Open Sans', sans-serif;
    /* You can set a default font weight and size for the body */
    font-weight: 400;
  }
  
  /* You might want to specifically target other elements as well */
  /* For example, for navigation links: */
  nav a {
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Or for buttons: */
  button {
    font-family: 'Open Sans', sans-serif;
  }

.glass {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.3px);
  -webkit-backdrop-filter: blur(11.3px);
}
